{% extends 'layout/base.html' %}
{% load humanize %}
{% block content%}

<div class="container">
  <div class="row my-4">
    <div class="col-lg-8">
      <div class="card">
        <img class="card-img-top" src="{{product.image.url}}" height="500">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h2>{{product.name}}</h2>
        </div>
        <div class="card-body">
          <p class="card-text">{{product.description}}</p>
          <h4>฿{{product.price | intcomma}}</h4>
          <div class="d-flex justify-content-between align-items-center mt-4">
            <div class="d-flex align-items-center">
              <button type="button" class="btn btn-light" onclick="onDecrease()"><i class="fas fa-minus"></i></button>
              <span class="h4 mx-3" id="quantity"></span>
              <button type="button" class="btn btn-light" onclick="onIncrease()"><i class="fas fa-plus"></i></button>
            </div>
            <span class="text-muted">{{product.stock}} piece available</span>
          </div>
        </div>
        {% if product.stock <= 0 %} <h5 class="text-danger">สินค้าหมด</h5>
          {% else %}
          <!-- <a href="{%url 'addToCart' product.id %}" class="btn btn-danger">Add to cart</a> -->
          <button onclick="onAddCart({{product.id}})" class="btn btn-danger">Add to cart</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  var qty = document.getElementById("quantity")
  var number = 1;
  qty.innerHTML = number
  const onIncrease = () => {
    number++
    qty.innerHTML = number
  }

  const onDecrease = () => {
    if (number < 2) {
      number = 1
      qty.innerHTML = number
    } else {
      number--
      qty.innerHTML = number
    }
  }

  const onAddCart = (id) => {
    const fd = new FormData();
    fd.append("qty", number);
    fetch("http://127.0.0.1:8000/store/cart/add/" + id, {
      method: "POST",
      body: fd,
      headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    })
  }
</script>

{% endblock %}