{% extends 'layout/base_without_nav.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <style>
        body {
            background: #0D1117;
            color: white;
        }
    </style>

    <div class="container" style="height: 100vh">
        <div class="row justify-content-center h-100">
            <div class="col-6 d-flex flex-column mt-5">
                <div class="card bg-dark opacity-10 px-3 py-3 shadow-sm">
                    <h3 class="text-white">Password reset</h3>

                    <p class="text-white">Forgotten your password? Enter your email address below, and we’ll email
                        instructions for setting a
                        new one.</p>

                    <div class="card p-3 w-100 align-self-center mt-3 mx-2 bg-black opacity-10">
                        <form method="post">

                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="Submit" class="btn btn-dark mt-3 float-end">Send Email</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
