{% extends 'layout/base.html' %}
{% load humanize %}
{% block content%}
{% load static %}

<style>
    .lead {
        text-decoration: none;
    }

    .lead:hover {
        text-decoration: underline;
    }
</style>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mt-4">
            {% if not cart_items%}
            <h2>No have no item in cart</h2>
            <a href="{% url 'home' %}">
                <h4>Let's add some...</h4>
            </a>

            {%else%}
            <h3 align="center">Cart</h3>
            <div class="table-responsive mt-3">
                <table class="table table-bordered text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <td></td>
                            <td>Product list</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total</td>
                            <td>Status</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>
                            <td>
                                <a href="{{item.product.get_detail}}"><img src="{{item.product.image.url}}" alt=""
                                        width="60px" height="60px"></a>
                            </td>
                            <td>
                                <a class="lead" href="{{item.product.get_detail}}">{{item.product.name}}</a>
                            </td>
                            <td>
                                {{item.product.price|intcomma}}
                            </td>
                            <td>
                                {{item.quantity}}
                            </td>
                            <td>
                                {{item.sub_total|intcomma}}
                            </td>
                            <td>
                                <a class="btn btn-danger" onclick="return confirm('Are you sure ?')"
                                    href="{% url 'removeFromCart' item.product.id %}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="float-end d-flex flex-column align-items-end">
                <h4 class="mb-4">ยอดชำระเงิน {{total|intcomma}} บาท</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ data_key }}" data-amount="{{ stripe_total }}" data-name="Kong-Shop"
                        data-description="{{ description }}" data-locale="thailand" data-currency="thb"
                        data-shipping-address="true" data-billing-address="true" data-zip-code="true">
                        </script>
                </form>
            </div>
            {%endif%}
        </div>
    </div>
</div>

{% endblock %}