{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block content%}
<div class="container">
    {% if not orders %}
    <div class="row d-flex justify-content-center">
        <div class="col-6 mt-4">
            <h2>You dont't have any history</h2>
            <a href="{% url 'home' %}">
                <h4>Let's add some...</h4>
            </a>
        </div>
    </div>
    {%else%}
    <h3 align="center">ประวัติการสั่งซื้อ</h3>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr class="cart_menu">
                    <td>รหัสใบสั่งซื้อ</td>
                    <td>วันสั่งซื้อสินค้า</td>
                    <td>ยอดชำระเงิน</td>
                    <td>ดูรายการสินค้า</td>
                </tr>
            </thead>
            <tbody>
                {% for item in orders %}
                <tr>
                    <td class="cart_price">
                        <p>{{item.id}}</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.created_at | date:"d M Y"}}</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.total | intcomma}}</p>
                    </td>
                    <td class="cart_total">
                        <a href="{% url 'orderDetails' item.id %}" class="btn btn-success">รายละเอียด</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}